*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, 'Gill Sans', 'Gill Sans MT', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    min-height: 100vh;
}

.section1{
    margin: 50px;
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px gray;
}

ul li{
    list-style-type: none;
}

.section1 .leftside{
    position: relative;
    background-color: #003147;
    padding: 40px;
}

.profile{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid gray;
}

.profile .imgprofile{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.profile .imgprofile img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile h2{
    color: #ffffff;
    font-size: 1.5em;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.5em;
}

.profile h2 span{
    font-size: 0.8em;
    font-weight: lighter
}

.contact{
    padding-top: 40px;
}

.title{
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.contact ul{
    position: relative;
}

.contact ul li{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}

.contact ul li .icon{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: #03a0f4;
}

.contact ul li span{
    color: #ffffff;
    font-weight: 300;
}

.education li{
    margin-bottom: 15px;
    list-style-type: none;
}

.education h5{
    color: #03a0f4;
    font-weight: 500;
}

.education h4{
    color: #ffffff;
    font-weight: 500;
}

.education .sub{
    color: #ffffff;
    font-weight: 100;
}

.languages ul li span{
    color: #ffffff;
    font-weight: 300;
}

.languages li{
    list-style-type: none;
}

.languages .percent{
    position: relative;
    width: 100%;
    height: 6px;
    background: rgba(8, 8, 47, 0.633);
    display: block;
    margin-top: 5px;
}

.languages .percent div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background:#03a0f4 ;
}

.section1 .rightside{
    position: relative;
    background-color: #ffffff;
    padding: 40px;
}

.about{
    margin-bottom: 50px;
}

.about:last-child{
    margin-bottom: 0;
}

.title2{
    color: #003147;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

p{
    color: #333;
}

.about .box .text h4{
    text-transform: uppercase;
    color: #2a7da2;
    font-size: 16px;
}

.skills .box{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
}

.skills .box h4{
    text-transform: uppercase;
    color: #848c99;
    font-weight: 500;
}

.skills .box .percent{
    position: relative;
    width: 100%;
    height: 10px;
    background: #f0f0f0;
}

.skills .box .percent div{
    position:absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #03a0f4;
}

.interest{
    position: relative;
    margin-top: 50px;
}

.Interest ul{
    display: grid;
    grid-template-columns: repeat(4.1fr);
}

.Interest ul li{
    color:#333;
    font-weight: 500;
    margin: 10px 0;
}

.interest ul li .fa{
    color: #03a0f4;
    font-size: 18px;
    width: 20px;
}

#cross{
    font-weight: 900;
    font-size: 22px;
}